.section-lead {
    height: 500px;
}
.section-lead .info .title {
    margin-top: 120px;
    margin-bottom: 30px;
    color: #FFFFFF;
    font-size: 36px;
}
.section-lead .info p {
    color: #FFFFFF;
    line-height: 30px;
}
.section-lead-hero {
    background: #242F4E url("../img/screen/large/about-us/about-us-hero.png") no-repeat;
    background-size: cover;
}

.section {
    padding-left: 100px;
    padding-right: 100px;
}
.section p {
    color: #243647;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
}
.section-what-we-do {
    margin-top: 100px;
}
.section-what-we-do .title {
    margin-bottom: 50px;
}

.section-core-values,
.section-services,
.section-management,
.section-offices {
    margin-top: 150px;
}
.section-services .title,
.section-management .title,
.section-offices .title {
    margin-bottom: 60px;
}
.service-box {
    padding: 60px 20px 50px;
    border-style: solid;
    border-color: #E7EAF2;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    text-align: center;
}
.service-box .icon {
    margin-bottom: 50px;
}
.service-box .icon-product-development {
    margin-top: 8px;
}
.service-box .icon-design {
    margin-top: 8px;
    margin-bottom: 55px;
}
.service-box .icon-technical-and-customer-support {
    margin-bottom: 48px;
}

.profile img {
    width: 100%;
    margin-bottom: 20px;
}
.profile .name, .profile .position {
    margin-bottom: 0;
    font-size: 22px;
    line-height: 30px;
}
.profile .name {
    font-weight: normal;
}
@media (max-width: 992px) {
    .section-lead .info .title {
        margin-top: 80px;
    }
    .section {
        padding-left: 30px;
        padding-right: 30px;
    }
    .brainstorming {
        margin-bottom: 40px;
    }
    .section-what-we-do .title {
        margin-bottom: 25px;
    }
    .section-core-values,
    .section-services,
    .section-management {
        margin-top: 100px;
    }
    .profile {
        margin-bottom: 60px;
    }

    .section-offices {
        margin-top: 40px;
    }
    .border-top-n {
        border-top: none;
    }
    .border-left-n {
        border-left: none;
    }
}
@media (max-width: 767px) {
    .section-lead {
        height: 200px;
        margin-bottom: 40px;
    }
    .section-lead-hero {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-lead .info .title, .lead-info .title {
        margin: 0;
        font-size: 22px;
        line-height: 28px;
    }
    .section-lead .info .title {
        padding-bottom: 12px;
        border-bottom: 3px solid #19E69B;
    }
    .lead-info {
        padding-left: 30px!important;
        padding-right: 30px!important;
    }
    .lead-info .title {
        margin-bottom: 25px;
    }
    .lead-info p,
    .section p {
        color: #243647;
        font-size: 14px;
        font-weight: bold;
        line-height: 24px;
    }

    .section-what-we-do,
    .section-core-values,
    .section-services,
    .section-management {
        margin-top: 60px;
    }
    .section-services .title,
    .section-management .title,
    .section-offices .title {
        margin-bottom: 30px;
    }


    .service-box {
        padding: 35px 20px;
    }
    .service-box .icon {
        margin-bottom: 20px;
    }
    .service-box .icon-dedicated-teams {
        width: 30px;
    }
    .service-box .icon-product-development {
        width: 38px;
        margin-top: 4px;
    }
    .service-box .icon-design {
        width: 40px;
        margin-top: 4px;
        margin-bottom: 24px;
    }
    .service-box .icon-technical-and-customer-support {
        width: 38px;
    }
    .service-box .subtitle {
        font-size: 14px;
        font-weight: normal;
        line-height: 16px;
        margin-bottom: 0;
    }

    .profile .name, .profile .position {
        font-size: 16px;
        line-height: 24px;
    }

    .carousel-item {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 575px) {
    .section-management {
        padding-left: 0;
        padding-right: 0;
    }
    .profile {
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-top: 1px solid #E7EAF2;
    }
    .border-top-xs-none {
        border-top: none;
    }
}

