.strong {
    font-weight: 700;
}
.font-24 {
    font-size: 24px;
}
.font-default {
    color: #243647;
}
.separator {
    margin: 30px 0;
    height: 3px;
    width: 135px;
    background-color: #243647;
    display: inline-block;
}
.background-gray {
    background-color: #F3F6FD;
}
.section-open-positions .title {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 60px;
    margin-bottom: 0;
}
ul.open-positions {
    margin: 50px 100px;
}
ul.open-positions li {
    display: inline-block;
    width: calc(50% - 100px);
    background-color: #19E69B;
    font-size: 20px;
    line-height: 24px;
    padding: 40px 10px 40px 30px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.mb-30 {
    margin-bottom: 30px;
}
.fot-1, .fot-2, .fot-3 {
    height: calc(100vw * 0.27);
    background-repeat: no-repeat;
    background-size: cover;
}
.fot-1 {
    background-image: url("/img/careers/fot_1.png");
}
.fot-2 {
    background-image: url("/img/careers/fot_2.png");
}
.fot-3 {
    background-image: url("/img/careers/fot_3.png");
}
.section {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 100px;
}
.section .title {
    margin-bottom: 50px;
}
.section-careers p {
    font-size: 16px;
    line-height: 24px;
}
.section-work-life p {
    font-size: 18px;
    line-height: 32px;
    color: #243647;
}
.section-atmosphere p {
    font-size: 20px;
    line-height: 32px;
}
.section p {
    margin-bottom: 20px;
}
div.dotted-background {
    position: relative;
    overflow: visible;
}
img.dotted-background {
    position: absolute;
    top: 250px;
    right: 0;
    z-index: -1;
}
.section-work-life .box {
    padding: 50px 35px;
}
.work-life_header {
    height: 200px;
    margin-bottom: 20px;
}
.work-life_header * {
    display: inline-block;
}

.section-gains .box {
    margin-bottom: 100px;
}
.section-gains span {
    display: block;
    font-size: 22px;
    line-height: 30px;
    color: #243647;
    font-weight: bold;
}
.section-gains span + img,
.section-gains img + span {
    margin-top: 20px;
}

@media (max-width: 991px) {
    .section,
    .section-open-positions .title {
        padding-left: 30px;
        padding-right: 30px;
    }
    ul.open-positions {
        margin-left: 30px;
        margin-right: 30px;
    }
    ul.open-positions li {
        width: 100%;
        margin-bottom: 10px;
    }
    ul.open-positions li:last-child {
        margin-bottom: 0;
    }
    .section p, .section .title {
        text-align: left;
    }
    .section p {
        color: #243647;
    }
}
@media (max-width: 767px) {
    .separator {
        height: 2px;
    }
    .section {
        margin-top: 50px;
    }
    .section .title {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 30px;
    }
    .section p {
        font-size: 12px;
        font-weight: normal;
        line-height: 22px;
    }
    .section-open-positions {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #F3F6FD;
    }
    .section-open-positions .title {
        margin-top: 0;
    }
    .section-open-positions p {
        font-size: 22px;
        line-height: 28px;
        font-weight: bold;
    }
    ul.open-positions {
        margin-bottom: 0;
    }
    ul.open-positions li {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 16px;
        line-height: 18px;
    }

    .fot-1, .fot-2, .fot-3 {
        height: 250px;
    }

    .section-work-life {
        padding: 0;
    }
    .section-work-life .box {
        padding: 35px 30px;
    }
    .section-work-life p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
    }
    .work-life_header {
        height: auto;
    }
    .work-life_header .work-img {
        width: 72px;
        margin-top: -60px;
    }
    .work-life_header .life-img {
        width: 75px;
    }

    .section-gains span {
        font-size: 14px;
        line-height: 18px;
    }
    .section-gains img {
        width: 68px;
        height: 68px;
        margin-top: 0 !important;
    }
    footer {
        margin-top: 0 !important;
    }
}
