.section-lead-hero {
    background: #242F4E url("../img/screen/large/services/development-teams/dedicated-development-teams.png") no-repeat;
    background-size: cover;
}
.flexible-team-section {
    padding-right: 150px;
}
.expertise-flexibility-section .title {
    margin-top: 30px;
    margin-bottom: 30px;
}
.all-in-one-service-section,
.key-benefits-section {
    padding-right: 200px;
}
.all-in-one-service-headline {
    margin-bottom: 100px;
}
.all-in-one-service-headline h1 {
    border-bottom: 3px solid #50E29D;
    display: inline;
}
.how-to-engage-boutsourcing-section .title {
    margin-bottom: 40px;
}

@media (min-width: 992px) {
    .pr-lg-40 {
        padding-right: 40px;
    }
    .pl-lg-40 {
        padding-left: 40px;
    }
}
@media (max-width: 1400px) {
    .section {
        padding-right: 100px;
    }
}
@media (max-width: 767px) {
    .section h2 {
        font-size: 22px;
        line-height: 28px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .expertise-flexibility-section > .row > [class*='col-'] {
        margin-bottom: 30px;
    }
    .expertise-flexibility-section .title {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .check-mark-icon {
        width: 44px;
        height: 44px;
    }
    .all-in-one-service-section .media {
        display: block;
        text-align: center;
    }
    .all-in-one-service-section .media-body {
        margin-top: 40px;
        margin-left: 0;
        text-align: left;
    }
    .all-in-one-service-headline,
    .how-to-engage-boutsourcing-section .title {
        margin-bottom: 40px;
    }
}
