.section-lead-hero {
    background: #242F4E url("../img/services/design/hero.png") no-repeat;
    background-size: cover;
}
ul.check_list li.completed:after {
    background-color: #19E69B;
}
ul.check_list li.completed:last-child:after {
    background-color: #bdbdbd;
}
ul.check_list li {
    position: relative;
    height: 350px;
}
ul.check_list li:after {
    content:"";
    position: absolute;
    left: 34px;
    background-color: #bdbdbd;
    height: calc(100% - 69px);
    width: 1px;
    top: 70px;
}
ul.check_list li:last-child:after {
    display: none;
}
ul.check_list .media .check-mark {
    width: 69px;
    height: 69px;
    background-size: cover;
}
ul.check_list .media .subtitle {
    margin-top: 16px;
    margin-bottom: 16px;
}
ul.check_list li:nth-child(1) .check-mark { background-image: url("/img/services/design/checklist/1-grey.svg"); }
ul.check_list li:nth-child(2) .check-mark { background-image: url("/img/services/design/checklist/2-grey.svg"); }
ul.check_list li:nth-child(3) .check-mark { background-image: url("/img/services/design/checklist/3-grey.svg"); }
ul.check_list li:nth-child(4) .check-mark { background-image: url("/img/services/design/checklist/4-grey.svg"); }

ul.check_list li.completed:nth-child(1) .check-mark { background-image: url("/img/services/design/checklist/1.svg"); }
ul.check_list li.completed:nth-child(2) .check-mark { background-image: url("/img/services/design/checklist/2.svg"); }
ul.check_list li.completed:nth-child(3) .check-mark { background-image: url("/img/services/design/checklist/3.svg"); }
ul.check_list li.completed:nth-child(4) .check-mark { background-image: url("/img/services/design/checklist/4.svg"); }

ul.check_list li.completed .check-mark {
    z-index: 1;
}

img.illustration {
    margin-top: 60px;
    left: 56%;
    position: absolute;
    z-index: 0;
}
img.illustration.hidden {
    display: none;
}
.key-benefits-section {
    height: 350px;
    margin-top: 30px;
    padding-top: 50px;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}
.key-benefits-section::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.dotted-background {
    background-image: url('/img/services/design/dots.svg');
    background-position: right 650px;
    background-repeat: no-repeat;
    background-size: 64%;
}
@media (max-width: 1180px) {
    .dotted-background {
        background-image: none;
    }
    img.illustration {
        width: 46%;
        margin-top: 110px;
    }
}
@media (max-width: 991px) {
    .section-lead-hero {
        background-position-x: center;
    }
}
@media (max-width: 767px) {
    .key-benefits-section {
        height: auto;
        padding-top: 35px;
        margin-top: 0;
    }
    ul.check_list li {
        height: 180px;
    }
    ul.check_list li:after {
        height: calc(100% - 36px);
        top: 36px;
        left: 18px;
    }
    ul.check_list .media .check-mark {
        width: 36px;
        height: 36px;
    }
    ul.check_list .media .subtitle {
        font-size: 22px;
        line-height: 28px;
        margin-top: 2px;
        margin-bottom: 10px;
    }
    ul.check_list .media-body {
        padding-top: 5px;
        margin: 0 !important;
    }
}