.hero {
    background-color: #F3F6FD;
}
.strong {
    font-weight: 700;
}

.font-lg {
    font-size: 3rem;
    line-height: 1.3;
    color: #243647;
}

.font-24 {
    font-size: 24px;
    line-height: 36px;
    color: #243647;
}
.two-column--white img.associated {
    height: 512px;
    padding: 0 5rem;
}

ul.check_list li.completed:after {
    background-color: #19E69B;
}
ul.check_list li.completed:last-child:after {
    background-color: #bdbdbd;
}
ul.check_list li {
    position: relative;
    height: 350px;
}
ul.check_list li:after {
    content:"";
    position: absolute;
    left: 34px;
    background-color: #bdbdbd;
    height: calc(100% - 69px);
    width: 1px;
    top: 70px;
}

ul.check_list li:last-child:after {
    display: none;
}
ul.check_list .media .check-mark {
    width: 69px;
    height: 69px;
    background-size: cover;
}
ul.check_list li:nth-child(1) .check-mark { background-image: url("/img/services/design/checklist/1-grey.svg"); }
ul.check_list li:nth-child(2) .check-mark { background-image: url("/img/services/design/checklist/2-grey.svg"); }
ul.check_list li:nth-child(3) .check-mark { background-image: url("/img/services/design/checklist/3-grey.svg"); }
ul.check_list li:nth-child(4) .check-mark { background-image: url("/img/services/design/checklist/4-grey.svg"); }

ul.check_list li.completed:nth-child(1) .check-mark { background-image: url("/img/services/design/checklist/1.svg"); }
ul.check_list li.completed:nth-child(2) .check-mark { background-image: url("/img/services/design/checklist/2.svg"); }
ul.check_list li.completed:nth-child(3) .check-mark { background-image: url("/img/services/design/checklist/3.svg"); }
ul.check_list li.completed:nth-child(4) .check-mark { background-image: url("/img/services/design/checklist/4.svg"); }

ul.check_list li.completed .check-mark {
    z-index: 1;
}

img.illustration {
    margin-top: 100px;
    left: 50%;
    position: absolute;
    z-index: 0;
}
img.illustration.hidden {
    display: none;
}
.key-benefits-section {
    height: 512px;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}
.key-benefits-section::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.dotted-background {
    background-image: url('/img/services/design/dots.svg');
    background-position: right 400px;
    background-repeat: no-repeat;
    background-size: 64%;
}
@media (max-width: 1180px) {
    .dotted-background {
        background-image: none;
    }
}
@media (max-width: 1300px) {
    img.illustration {
        width: 40%;
    }
}
@media (max-width: 550px) {
    .check-mark {
        display: none;
    }
    ul.check_list li:after {
        display: none;
    }
    ul.check_list .media-body {
        margin:0 !important;
        padding:0 !important;
    }
    ul.check_list li {
        height: auto;
        padding: 20px 0;
    }
    .key-benefits-section {
        height: auto;
    }
    .key-benefits-section > div {
        padding-left:0 !important;
    }
}