footer h3 {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.16px;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
#footer > div:first-child {
    background-color: #242F4E;
    color: #ffffff;
}
#footer > div:last-child {
    background-color: #F3F6FD;
}
#footer address {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.13px;
    line-height: 32px;
}
#footer .copyright {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: -0.11px;
    line-height: 36px;
    padding-left: 1rem;
}
ul.footer-menu li {
    display: block;
}
ul.footer-menu li a {
    display: block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.08px;
    line-height: 19px;
    text-transform: uppercase;
    color: #243647;
    padding: 0.9rem 0;
}
ul.footer-submenu > li > a {
    font-weight: normal;
}