.header-container {
    height: 100%;
}

@media (min-width: 992px) {
    .header {
        padding: 0 0 0 60px;
        box-sizing: border-box;
        background-color: #ffffff;
        z-index: 10;
        height: 110px;
    }
    .header .logo {
        width: 168px;
        display: block;
    }
    .header .logo-sm {
        display: none;
    }
    .menu-container {
        box-sizing: border-box;
    }
    .menu {
        list-style-type: none;
    }
    ul.menu > li {
        cursor: pointer;
        position: relative;
    }
    ul.menu > li > a {
        padding: 20px 0;
        font-size: 16px;
        font-weight: 600;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    ul.menu li {
        width: 20%;
        height: 100%;
    }
    ul.menu > li:last-child a {
        height: 50%;
    }
    ul.menu > li:last-child a:last-child {
        border-top: 1px solid #C7CFDF;
    }
    ul.menu li:hover .sub-menu,
    .sub-menu:hover {
        transform: scaleY(1);
    }
    /* Sub-menu */
    .sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        border-top: 1px solid #C7CFDF;
        border-bottom: 1px solid #C7CFDF;
        width: 400%;
        z-index: 10;
        background-color: #FFFFFF;
        display: flex;
        flex-wrap: wrap;
        transform: scaleY(0);
        transform-origin: 0 0;
        transition: all .2s ease-in-out;
    }
    ul.sub-menu li {
        text-transform: uppercase;
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        padding: 20px;
        vertical-align: middle;
        height: 105px;
        position: relative;
    }
    /* Little circle in the middle*/
    ul.sub-menu li:nth-child(even):nth-last-child(n+4):after {
        content: '';
        width: 10px;
        height: 10px;
        background-color: #C7CFDF;
        position: absolute;
        display: block;
        right: -6px;
        bottom: -5px;
        z-index: 10;
        border-radius: 50%;
        box-sizing: border-box;
    }
    ul.sub-menu li:nth-child(even){
        border-right: 1px solid #C7CFDF;
    }
    ul.sub-menu li:nth-child(n+4) {
        border-top: 1px solid #C7CFDF;
    }
    ul.sub-menu li img,
    ul.sub-menu li a {
        display: inline-block;
        vertical-align: middle;
    }
    ul.sub-menu li img {
        margin-right: 30px;
        width: 45px;
        height: 45px;
    }
    ul.sub-menu li a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        color: black;
        text-transform: uppercase;
        display: flex;
        align-items: center;
    }

    ul.sub-menu li a {
        font-size: 12px;
    }
    ul.sub-menu li img {
        margin-right: 10px;
    }
    .menu-burger {
        display: none;
    }
}
@media (min-width: 922px) and (max-width: 1440px) {
    ul.menu > li a {
        font-size: 14px;
    }
}
@media (min-width: 1440px){
    ul.sub-menu li a {
        font-size: 16px;
    }
}

