.overflow-v {
    overflow: visible;
}
.section-lead {
    height: 492px;
}
.section-lead-info-box {
    padding: 70px 60px;
}
.section-lead-info-box .info {
    width: 270px;
    margin-bottom: 80px;
}
.section-lead-info-box .info p {
    color: #243647;
}
.section-lead-hero {
    background: #242F4E url("../img/screen/large/software-development-experts.png") no-repeat;
    background-size: cover;
    padding: 70px 50px;
}
.section-lead-hero .info {
    width: 400px;
}
.section-lead-hero .title {
    font-size: 56px;
    line-height: 72px;
    color: #ffffff;
}

.service-box {
    padding: 70px 20px 50px;
    border-style: solid;
    border-color: #E7EAF2;
    border-right-width: 1px;
    border-bottom-width: 1px;
    text-align: center;
}
.service-box .icon {
    margin-bottom: 40px;
}
.service-box .icon-product-development {
    margin-top: 8px;
}
.service-box .icon-design {
    margin-top: 8px;
    margin-bottom: 46px;
}
.services-info {
    padding: 50px;
    border-bottom: 1px solid #E7EAF2;
}
.service-box,
.services-info,
.section-services a.d-block,
.portfolio-box,
.portfolio-boxes a.d-block {
    height: 100%;
}

.section-portfolio {
    margin-top: 80px;
}
.portfolio-boxes {
    padding-left: 55px;
    padding-right: 55px;
    margin-top: 50px;
}
.portfolio-box, .portfolio-box .subtitle {
    color: #ffffff;
}
.portfolio-box {
    height: 412px;
    padding: 75px 60px 55px;
    margin-bottom: 20px;
    position: relative;
}
.portfolio-box .pos-abs-bottom {
    padding: 0 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 55px;
}
.portfolio-monitoring-tool {
    background: url("../img/screen/large/employee-monitoring-tool.png") no-repeat;
    background-size: cover;
}
.portfolio-management-system {
    background: url("../img/screen/large/competency-management-system.png") no-repeat;
    background-size: cover;
}
.portfolio-management-solution {
    background: url("../img/screen/large/access-management-solution.png") no-repeat;
    background-size: cover;
}
.portfolio-box .subtitle {
    margin-bottom: 100px;
}
.portfolio-management-solution .subtitle {
    margin-bottom: 58px;
}
.portfolio-box hr {
    width: 130px;
    margin-top: 0;
    margin-bottom: 25px;
    border-top: 5px solid #19E69B;
}
.portfolio-box p {
    font-size: 22px;
    font-weight: bold;
}

.section-what-clients-say {
    padding-top: 60px;
    margin-top: 150px;
    border-top: 1px solid #C7CFDF;
}
.video-boxes {
    padding-left: 55px;
    padding-right: 55px;
    margin-top: 30px;
}
.video {
    height: 380px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.video-box .info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 50px 80px;
    background-color: rgba(36, 54, 71, 0.5);
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    transform: translateY(100%);
    transition: transform 0.1s linear;
}
.video-box .info .quote-icon {
    font-size: 30px;
    color: #50E29D;
    position: absolute;
    top: -10px;
    left: -30px;
}
.video:hover .info {
    transform: translateY(0);
    transition: transform 0.2s linear;
}
.video-appsco {
    background: #242F4E url("../img/home/client-appsco.png") no-repeat;
    background-size: cover;
}
.video-dossier {
    background: #242F4E url("../img/home/client-dossier.png") no-repeat;
    background-size: cover;
}

.section-schedule-consultation, .section-contact {
    margin-top: 100px;
}
.section-schedule-consultation {
    padding-left: 70px;
    padding-right: 70px;
}
.schedule-consultation {
    margin-bottom: 50px;
}
.schedule-consultation h1 {
    margin-bottom: 30px;
}
.schedule-consultation-a {
    margin-top: 50px;
    color: #243647;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    border-bottom: 8px #19E69B solid;
}

.contact-form form {
    padding: 80px 100px;
    margin-top: 45px;
}

@media (max-width: 1440px) {
    .portfolio-box {
        padding: 50px 40px 40px;
    }
    .portfolio-box .pos-abs-bottom {
        bottom: 40px;
    }
}
@media (max-width: 1200px) {
    .portfolio-box {
        padding-left: 20px;
        padding-right: 20px;
    }
    .video-box .info {
        padding: 20px 60px;
        font-size: 26px;
        line-height: 36px;
        transform: translateY(0);
    }
    .video-box .info .quote-icon {
        font-size: 26px;
        left: -20px;
    }
}
@media (max-width: 992px) {
    .section-lead {
        height: 350px;
    }
    .section-lead-info-box,
    .section-lead-hero,
    .services-info,
    .section-portfolio,
    .section-schedule-consultation {
        padding-left: 20px;
        padding-right: 20px;
    }
    .section-lead-info-box, .section-lead-hero {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .section-lead-info-box .info {
        width: auto;
        margin-bottom: 80px;
    }
    .section-lead-hero .info {
        width: auto;
    }

    .portfolio-boxes,
    .video-boxes {
        padding: 0;
    }
    .portfolio-box {
        padding: 75px 60px 55px;
        margin-bottom: 40px;
    }
    .portfolio-box .pos-abs-bottom {
        bottom: 55px;
    }

    .video-box {
        margin-bottom: 50px;
    }

    .section-what-clients-say,
    .section-contact {
        margin-top: 50px;
    }
    .section-schedule-consultation {
        margin-top: 0;
    }
    .schedule-consultation {
        text-align: center;
    }
}
@media (max-width: 767px) {
    .section-lead-hero {
        height: 250px;
    }
    .section-lead-info-box, .section-lead-hero {
        padding: 25px 30px;
    }
    .section-lead-info-box {
        height: auto;
        padding-bottom: 50px;
        position: relative;
    }
    .section-lead-info-box .info {
        margin-bottom: 0;
        text-align: center;
    }
    .section-lead-info-box .btn {
        position: absolute;
        right: 0;
        bottom: -22px;
        left: 0;
        width: 140px;
        margin: auto;
    }
    .section-lead-hero {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-lead-hero .info {
        width: 250px;
        text-align: center;
    }
    .section-lead-hero .title {
        font-size: 32px;
        line-height: 46px;
        margin-bottom: 0;
    }

    .section-services,
    .section-portfolio {
        margin-top: 50px;
    }
    .services-info {
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
    }
    .service-box {
        padding: 35px 40px ;
    }
    .service-box .icon {
        margin-bottom: 20px;
    }
    .service-box .icon-dedicated-teams {
        width: 30px;
    }
    .service-box .icon-product-development {
        width: 38px;
        margin-top: 4px;
    }
    .service-box .icon-design {
        width: 40px;
        margin-top: 4px;
        margin-bottom: 24px;
    }
    .service-box .icon-technical-and-customer-support {
        width: 38px;
    }
    .service-box .subtitle {
        font-size: 14px;
        font-weight: normal;
        line-height: 16px;
    }

    .portfolio-boxes,
    .video-boxes {
        margin-top: 0;
    }
    .portfolio-box {
        min-height: 250px;
        height: auto;
        padding: 50px 20px 80px;
        margin-bottom: 20px;
    }
    .portfolio-box .subtitle {
        margin-bottom: 0;
        font-size: 28px;
        line-height: 38px;
    }
    .portfolio-box hr {
        margin-bottom: 10px;
    }
    .portfolio-box .pos-abs-bottom {
        bottom: 20px;
    }

    .section-what-clients-say {
        padding-top: 0;
        border-top: none;
    }
    .video-box .info {
        padding: 0 20px;
        margin-top: 20px;
        position: relative;
        background-color: transparent;
        font-size: 14px;
        color: #243647;
        line-height: 20px;
    }
    .video {
         margin-bottom: 15px;
     }
    .video-box .subtitle {
        padding: 0 20px;
        font-size: 18px;
        line-height: 26px;
    }
    .video-box .info .quote-icon {
        position: relative;
        top: 0;
        left: 0;
        font-size: 30px;
        margin-bottom: 10px;
        display: block;
    }

    .schedule-consultation h1 {
        margin-bottom: inherit;
        text-align: center;
    }
    .schedule-consultation-a {
        font-size: 16px;
        line-height: 22px;
        border-bottom-width: 5px;
    }
    .brainstorming img {
        margin-bottom: 50px;
    }
}
@media (max-width: 575px) {
    .video-ceo {
        background-position-x: center;
    }
}
