.section-lead-hero {
    background: #242F4E url("../img/services/product-development/hero.png") no-repeat;
    background-size: cover;
}
.color-default {
    color: #748494 !important;
}
.section-industries img {
    margin-bottom: 20px;
}

@media (max-width: 991px) {
    .section-info p {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .section-industries img {
        width: 64px;
        margin-bottom: 15px;
    }
}
