.hero {
    background-color: #F3F6FD;
}
.strong {
    font-weight: 700;
}

.font-lg {
    font-size: 3rem;
    line-height: 1.3;
    color: #243647;
}

.font-24 {
    font-size: 24px;
    line-height: 36px;
    color: #243647;
}

.separator-green {
    margin: 16px 0;
    height: 0.5rem;
    width: 30%;
    background-color: #19E69B;
    content: '';
}

.two-column--white img.associated {
    height: 512px;
    padding: 0 5rem;
}