.section-lead {
    height: 500px;
    padding: 50px;
    position: relative;
}
.section-lead .info h1,
.section-lead .info p {
    color: #FFFFFF;
}
.section-lead .info p {
    font-size: 22px;
    line-height: 28px;
}
.lead-info p {
    margin-top: 50px;
}
.section-lead .sticky-label {
    width: 366px;
    height: 68px;
    color: #131A3B;
    font-size: 32px;
    font-weight: bold;
    line-height: 68px;
    opacity: 0.9;
    background-color: #50E29D;
    text-align: center;
    position: absolute;
    bottom: -32px;
    left: 0;
    right: 0;
    margin: auto;
}

.section {
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
.product-info-section p {
    margin-top: 30px;
}

.projects-section {
    padding-bottom: 5px;
}
.projects-section .title {
    margin-bottom: 40px;
}
.project-box {
    height: 100%;
    padding: 50px 120px;
    border-style: solid;
    border-color: #E7EAF2;
    border-top-width: 1px;
    border-right-width: 1px;
    position: relative;
}
.row [class*=col-]:last-of-type .project-box {
    border-right-width: 0;
}
.last-row .project-box {
    border-bottom-width: 1px;
}
.project-box .icon {
    margin-bottom: 40px;
}
.project-box .icon-solutions {
    margin-top: 20px;
}
.project-box .icon-tools {
    margin-top: 16px;
}
.project-box h2 {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 24px;
}
.project-box p {
    font-size: 16px;
    line-height: 24px;
}
.filled-circle {
    height: 9px;
    width: 9px;
    border-radius: 5px;
    background-color: #E7EAF2;
}
.project-box .filled-circle {
    position: absolute;
    right: -5px;
}
.project-box .filled-circle.top {
    top: -5px;
}
.project-box .filled-circle.bottom {
    bottom: -5px;
}

.about-the-client-section p {
    margin-bottom: 30px;
    color: #243647;
}
.about-the-client-section a {
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    color: #50E29D;
}
.schedule-consultation-section {
    margin-bottom: 100px;
}

@media (min-width: 992px) {
    .overflow-v {
        overflow: visible !important;
    }
    body.appsco-page {
        background: url("../img/screen/large/products/appsco/appsco-hero.png") no-repeat;
        background-size: 1440px 590px;
    }
    body.evolution-page {
        background: url("../img/screen/large/products/evolution/evolution-hero.png") no-repeat;
        background-size: 1440px 590px;
    }
    body.dossier-page {
        background: url("../img/screen/large/products/appsco/appsco-hero.png") no-repeat;
        background-size: 1440px 590px;
    }
    body.brocon-page {
        background: url("../img/screen/large/products/appsco/appsco-hero.png") no-repeat;
        background-size: 1440px 590px;
    }
}
@media (min-width: 1440px) {
    body.appsco-page,
    body.evolution-page,
    body.dossier-page,
    body.brocon-page {
        background-size: 100% 590px;
    }
}
@media (max-width: 991px) {
    .section-lead {
        height: 330px;
        margin-bottom: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-lead-hero.appsco {
        background: #242F4E url("../img/screen/large/products/appsco/appsco-hero.png") no-repeat;
        background-size: cover;
    }
    .section-lead-hero.evolution {
        background: #242F4E url("../img/screen/large/products/evolution/evolution-hero.png") no-repeat;
        background-size: cover;
    }
    .section-lead-hero.dossier {
        background: #242F4E url("../img/screen/large/products/appsco/appsco-hero.png") no-repeat;
        background-size: cover;
    }
    .section-lead-hero.brocon {
        background: #242F4E url("../img/screen/large/products/appsco/appsco-hero.png") no-repeat;
        background-size: cover;
    }
    .section-lead .info h1 {
        width: auto;
        margin: 0;
    }
    .lead-info {
        padding-left: 115px;
        padding-right: 115px;
    }

    .project-box {
        padding: 40px 20px;
    }
}
@media (max-width: 767px) {
    .section-lead {
        height: 200px;
        padding: 0;
        margin-bottom: 20px;
    }
    .section-lead .info h1 {
        margin: 0;
        font-size: 22px;
        line-height: 28px;
    }
    .section-lead .sticky-label {
        width: 135px;
        height: 28px;
        font-size: 12px;
        line-height: 28px;
        bottom: -14px;
    }
    .lead-info {
        padding-left: 30px!important;
        padding-right: 30px!important;
    }

    .section {
        margin-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .product-info-section p {
        margin-top: 25px;
    }
    .product-logo {
        width: 162px;
    }
    .carousel-item {
        padding-left: 0;
        padding-right: 0;
    }

    .projects-section .title {
        margin-bottom: 15px;
    }
    .project-box {
        border-right-width: 0;
    }
    .last-row > [class*='col-']:not(:last-child) .project-box {
         border-bottom-width: 0;
     }
    .project-box .icon-solutions {
        width: 42px;
    }
    .project-box .icon-technologies {
        width: 48px;
    }
    .project-box .icon-tools,
    .project-box .icon-team {
        width: 40px;
    }
    .project-box .icon {
        margin-top: 0;
        margin-bottom: 12px;
    }
    .project-box h2 {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 12px;
    }
    .project-box p {
        font-size: 12px;
        line-height: 16px;
        color: #243647;
    }
    .about-the-client-section a {
        font-size: 16px;
        line-height: 24px;
    }
    .schedule-consultation-section {
        margin-bottom: 50px;
    }
}
