/**
Common START
 */
body {
    padding: 115px 0 0 0;
    margin: 0;
    background-color: #ffffff;
    color: #748494;
    overflow-x: hidden;
}
body, p, a, h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4 {
    color: #243647;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
h1 {
    font-size: 48px;
    line-height: 64px;
}
h2 {
    font-size: 32px;
    line-height: 42px;
}
h3 {
    font-size: 30px;
    line-height: 40px;
}
h4 {
    font-size: 22px;
    line-height: 30px;
}
a {
    text-decoration: none;
}
body img {
    max-width: 100%;
    border: none;
    outline: none;
}
body p {
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 26px;
}
.flex-none {
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
}
.margin-l-auto {
    margin-left: auto;
}
.text-center {
    text-align: center;
}
/**
Common END
 */

/**
Header START
 */
.header {
    padding: 20px 0 20px 65px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 115px;
    box-sizing: border-box;
    background-color: #ffffff;
    z-index: 10;
}
.header .logo {
    width: 168px;
    display: block;
}
.menu-container {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.1s linear;
}
.menu-container.active {
    transform: translateX(0);
    transition: transform 0.2s linear;
}
.menu {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
ul.menu > li {
    border-bottom: 1px solid;
    cursor: pointer;
}
ul.menu > li > a {
    padding: 0 20px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    font-weight: 600;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}
/*.menu-icon {*/
    /*font-size: 32px;*/
    /*cursor: pointer;*/
    /*width: 32px;*/
    /*height: 32px;*/
    /*text-align: center;*/
    /*line-height: 32px;*/
/*}*/
/*.close-icon {*/
    /*font-size: 64px;*/
    /*font-weight: 100;*/
/*}*/
/**
Header END
 */

@media (min-width: 992px) {
    .menu-container, .menu {
        width: auto;
    }
    .menu-container {
        padding: 0;
        background-color: transparent;
        position: relative;
        transform: unset;
        transition: unset;
    }
    ul.menu > li {
        border: none;
        display: inline-block;
    }
    ul.menu > .li-composite {
        text-align: center;
    }
    ul.menu > li a {
        height: auto;
        padding: 10px 50px;
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
    }
    ul.menu > .li-composite a {
        padding-left: 100px;
        padding-right: 100px;
    }
    ul.menu > .li-composite a:first-child {
        padding-bottom: 20px;
        border-bottom: 1px solid #C7CFDF;
    }
    ul.menu > .li-composite a:last-child {
        padding-top: 20px;
    }
}