/**
Common START
 */
body {
    padding: 115px 0 0 0;
    margin: 0;
    background-color: #ffffff;
    color: #748494;
    overflow-x: hidden;
}
body, p, a, h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4 {
    color: #243647;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
h1 {
    font-size: 48px;
    line-height: 64px;
}
h2 {
    font-size: 32px;
    line-height: 42px;
}
h3 {
    font-size: 30px;
    line-height: 40px;
}
h4 {
    font-size: 22px;
    line-height: 30px;
}
a {
    text-decoration: none;
}
body img {
    max-width: 100%;
    border: none;
    outline: none;
}
body p {
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 26px;
}
.flex-none {
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
}
.margin-l-auto {
    margin-left: auto;
}
.text-center {
    text-align: center;
}
/**
Common END
 */

