ul.green-list {
    list-style: none;
}
ul.green-list li {
    margin: 60px 0;
    padding-left: 47px;
    position: relative;
}
ul.green-list li:before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background-color: #19E69B;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

@media (min-width: 992px) {
    body {
        background: url("../img/screen/large/services/technical-customer-support/technical-and-customer-support.png") no-repeat;
        background-size: 1440px 620px;
    }
}
@media (min-width: 1440px) {
    body {
        background-size: 100% 620px;
    }
}
@media (max-width: 991px) {
    .section-lead-hero {
        background: #242F4E url("../img/screen/large/services/technical-customer-support/technical-and-customer-support.png") no-repeat;
        background-size: cover;
    }
}
@media (max-width: 767px) {
    ul.green-list li {
        margin: 20px 0;
        padding-left: 38px;
        font-size: 16px;
        line-height: 22px;
    }
    ul.green-list li:before {
        width: 18px;
        height: 18px;
    }
}
